<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>service.url</key>
	<string>NSURL(http://api.worldweatheronline.com/free/v2/weather.ashx)</string>
	<key>api.key</key>
	<string>7f98778f0c5715a085576dfaf2ba4</string>
	<key>days.to.retrieve</key>
	<string>NSNumber(5)</string>
</dict>
</plist>
